body {
    margin: 0;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47%;
    object-fit: cover;
}

h1 {
    position: absolute;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el título */
    color: #fff; /* Color de texto para el título */
    padding: 10px 20px; /* Espaciado interior para el título */
}

p{
    position: absolute;
    bottom: 129px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el título */
    color: #fff; /* Color de texto para el título */
    padding: 10px 20px; /* Espaciado interior para el título */
}